<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
	<session-factory>
		<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
		<property name="connection.connection_string">
			server=localhost;database=SinhVienDb;user id=sa;password=met21122k3###;
		</property>
		<property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<mapping assembly="GrpcSinhVienServer" resource="GrpcSinhVienServer.DataAccess.Mappings.SinhVien.hbm.xml" />
		<mapping assembly="GrpcSinhVienServer" resource="GrpcSinhVienServer.DataAccess.Mappings.LopHoc.hbm.xml" />
		<mapping assembly="GrpcSinhVienServer" resource="GrpcSinhVienServer.DataAccess.Mappings.GiaoVien.hbm.xml" />
	</session-factory>
</hibernate-configuration>
